################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/QapApp/Debug
/.vs/QapApp/v15
/Debug
/habr_anna
/Release/save_node_editor_full.qap
/Release/QapApp.pdb
/Release/QapApp.ipdb
/Release/QapApp.iobj
/Release/QapApp.exe
/QapApp/Release/QapApp.tlog
/QapApp/Release
/QapApp/ReleaseO2
/ReleaseO2
